<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="WordDelimiters" value=", :;?!"/>
    <add key="SortAsc" value="true"/>
    <add key="SentenceNumberStartsFrom" value="1"/>
  </appSettings>
</configuration>